body
  font-family: "Radikal", sans-serif
  margin: 0
  color: #2C2E33
  background: #DFE5FF

h1
  font-weight: 400
  font-size: 26px
  color: #2C2E33
  margin-bottom: 4px

h2
  font-weight: 300
  font-size: 20px
  color: #2C2E33
  opacity: 0.6
  margin-top: 0

p
  &.about
    text-transform: uppercase
    letter-spacing: 4px
    font-size: 15px
    font-weight: 300

img
  &.icon
    width: 83px
  &.appstore
    width: 200px
  &.thumbnails
    width: 153px

#iphone
  position: absolute
  left: 0
  bottom: 0
  width: 286px

.content
  width: 840px
  margin: 0 auto
  ul
    list-style: none
    padding: 0
    li
      display: inline-block
      width: 277px
      margin-bottom: 100px
      font-weight: normal
      font-size: 16px

.wrapper
  background: #DFE5FF
  &.hero
    .content
      padding: 160px 0 0 310px
      width: 530px
      height: 420px
      position: relative
  &.screens
    background: white
    padding: 120px 0
    text-align: center

footer
  background: #F5F7FF
  padding: 120px 20px
  text-align: center
  font-size: 12px
  .about
    a
      text-decoration: none
      color: #2C2E33
      font-size: 10px
      font-weight: 400
      opacity: 0.8
      margin: 0 10px
      &:hover
        padding-bottom: 3px
        border-bottom: 2px solid #FF0079
